
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #EFEFEF; /* Light Gray Background */
    display: flex;
    justify-content: flex-start;
    height: 80vh;
    flex-direction: column;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.header-2 {
    background-color: #eee;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.title {
    font-size: 2.5em;
    margin: 0;
}

.subheader {
    font-size: 1.2em;
    margin-top: 10px;
}

.subheader {
    font-size: 1.2em;
    margin-top: 4px;
}

.nav-logo {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.header-logo {
    height: 50px;
    width: auto;
    vertical-align: middle;
    margin-right: 15px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #0073e6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 20px;
    position: relative;
    z-index: 4200;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none; /* Hidden by default */
    cursor: pointer;
}

.proceed-button {
    padding: 1em 2em;
    background-color: #5C946E; /* Earthy Green Button */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50px; /* More rounded corners for elegance */
    font-weight: bold;
    font-size: 1.1em;
}

.continue-button {
    padding: 1em 2em;
    background-color: #5C946E; /* Earthy Green Button */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50px; /* More rounded corners for elegance */
    font-weight: bold;
    font-size: 1.1em;
}

.hamburger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

/* Mobile Navigation */
.mobile-nav {
    display: none; /* Hidden by default */
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    z-index: 1000;
}

.mobile-nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mobile-nav-links li a {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    color: #333;
    text-decoration: none;
}

.hamburger-menu.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger-menu.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.mobile-nav.show {
    display: block;
}

.hero {
    background: url('/img/hero-background.png') no-repeat center center / cover;
    background-attachment: fixed;
    position: relative;
    max-width: 100%;
    padding-top: 1px;
    margin-top: -1px;
    min-height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7); /* Semi-transparent white overlay */
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    color: #333;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.artist-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    color: #333;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-bottom: 10vh;
    background-color: RGBA(25, 20, 20, 0.5);
    color: RGBA(230, 230, 230, 1);
    border-radius: 30px;
}


.hero-content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: white; /* Dark Gray Text */
}

.hero-content p {
    font-size: 1.2em;
    color: white; /* Dark Gray Text */
    margin-bottom: 1em;
}

.hero-content sh1 {
    font-size: 1em;
    color: lightGray; /* Dark Gray Text */
    font-family: "Cutive Mono", 'Helvetica Neue';
}

.about {
    background-color: #f4f4f4;
    color: #333;
    padding: 3em 2em;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

.sortable-list {
  margin-left: 25px;
  margin-right: 25px;
  background: RBGA(25,20,20,1);
  border-radius: 7px;
  padding: 30px 25px 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}
.sortable-list .item {
  list-style: none;
  display: flex;
  cursor: move;
  background: #fff;
  align-items: center;
  border-radius: 5px;
  padding: 10px 13px;
  margin-bottom: 11px;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.06); */
  border: 1px solid #ccc;
  font-family: 'Poppins', sans-serif;
  background: RGBA(30, 215, 96, 1); 
  color: RBGA(25,20,20,1);
  justify-content: space-between;
  text-align: left;
}
.item .details {
  display: flex;
  align-items: center;
}
.item .details img {
  height: 43px;
  width: 43px;
  pointer-events: none;
  margin-right: 12px;
  object-fit: cover;
  border-radius: 50%;
}
.item .details span {
  font-size: 1.13rem;
}
.item i {
  color: #474747;
  font-size: 1.13rem;
}
.item.dragging {
  opacity: 0.6;
}
.item.dragging :where(.details, i) {
  opacity: 0;
}

.progressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    margin-top: 5%;
    border-radius: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: scale(0.9);
    position: relative;
    z-index: 100;
}

.row {
    display: flex;
    width: 100%;
    position: relative;
}


.cell {
    flex: 1;
    padding: 15px 20px;
    text-align: center;
    font-size: 1.5em;
    min-height: 50px;
    background-color: RGBA(250,0,250,0.15);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-word;
    font-family: "Josefin Sans", 'Helvetica Neue';
    margin: 2.5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.artist-header {
    background-color: RGBA(0,0,250,0.15);
    border-radius: 15px 15px 0px 0px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    min-width: 200px;
}

.artist-cell {
    background-color: RGBA(0,0,250,0.15);
    border-radius: 15px 15px 0px 0px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    min-width: 200px;
}

.category-header {
    background-color: RGBA(250,0,0,0.15);
    border-radius: 15px 0px 0px 15px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
}

.progress-cell.unstarted::before {
    content: "\231B";
    font-size: 1.5em;
}

.progress-cell.in-progress {
    background-color: RGBA(250,0,250,0.1);
}

.progress-cell.finished::before {
    content: "\2713";
    font-size: 1.5em;
}

@media (max-width: 600px) {
    .navbar .nav-links {
        display: none; /* Hide the desktop links */
    }

    .hamburger-menu {
        display: block; /* Show the hamburger menu */
    }

    .mobile-nav-links li a {
        padding: 7px 15px;
    }

    .nav-links li {
        width: 50%;
    }
    
    .header-logo {
        height: 30px;
    }

    .nav-logo {
        width: 50%;
        justify-content: space-between;
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    .hero-content {
        position: relative;
        z-index: 2;
        color: #333;
        text-align: center;
        margin-left: 15%;
        margin-right: 15%
    }

    .artist-content {
        position: relative;
        z-index: 2;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 10vh;
        margin-bottom: 10vh;
        padding-bottom: 10vh;
    }
    .hero-content h1 {
        font-size: 2em;
        margin-bottom: 0.3em;
    }
    
    .hero-content p {
        font-size: 0.9em;
        margin-bottom: 0.7em;
    }

    .sortable-list {
        margin-left: 0px;
        margin-right: 0px;
        background: RBGA(25,20,20,1);
        border-radius: 7px;
        padding: 30px 25px 20px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    }

    .grid-progress-container {
        grid-template-columns: 1fr;
    }

    .cell, .artist-header {
        font-size: 14px; /* Adjust base font size */
        word-wrap: break-word; /* Ensures words wrap and don't overflow */
        padding: 1px 1px;
    }

    .category-header {
        font-size: 11px; /* Adjust base font size */
        word-wrap: break-word; /* Ensures words wrap and don't overflow */
        padding: 1px 1px;
    }
    
    .artist-cell {
        min-width: 100px;
    }

    .artist-header {
        min-height: 45px;
        min-width: 100px;
    }
}
